@import "tailwindcss";

:root{
    /* For Static Text */
    --static-text-light: #ffffff;
    --static-text-black: #000000;
    
    /* For Backgrounds */
    --primary: #008a09;
    --secondary: #00b90c;
    --accent: #008a0971;
    
    /* For Buttons
    --primary-btn: #ff3e3e;
    --secondary-btn: #8400ff46; */
    
    /* For Boredrs */
    --border: rgba(161, 161, 161, 0.372);
    --grey: rgb(128, 128, 128);
    --text: #0f0b13;
    --background: #fcfbfe;
}
:root[data-theme=false] {
    --text: #0f0b13;
    --background: #fcfbfe;
}

:root[data-theme=true] {
    --text: #f0ecf4;
    --background: #0d0909;
}

*::selection{
    background-color: transparent;
}